.navtransition {
  color: #fff;
}

.navtransition:hover {
  color: #6eff89;
}

.headertran {
  color: #fff;
  transition: all 0.5s ease;
}

.headercommunitygroup:hover .headertran {
  color: #6eff89;
}

.headerfill {
  /* fill: #fff; */
  transition: all 0.5s ease;
}

.headercommunitygroup:hover .headerfill {
  fill: #6eff89;
}

.headlist {
  display: none !important;
}

.headercommunitygroup:hover .headlist {
  display: block !important;
}
