@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.g-body-container {
  @apply max-w-[1120px] mx-[16px] flex flex-grow;
}

.g-page-height {
  @apply min-h-[1080px] h-screen max-h-[1300px];
}

.g-back-divide-line {
  display: flex;
  align-items: center;
}

.g-back-divide-line::after {
  content: "";
  flex: 1;
  height: 1px;
  background: rgba(255 255 255 / 20%);
  margin-left: 10px;
}

.g-card {
  @apply rounded-[16px] bg-[#3B5D66]/10 border border-white/10;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255 255 255 / 0%);
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

/*
@media screen and (max-width: 768px) {
  html {
    font-size: calc(100vw/55)
  }
}
*/
