@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.g-body-container {
  @apply max-w-[1400px] mx-4 flex flex-grow;
}

.g-page-height {
  @apply min-h-screen h-[1000px];
}

* {
  box-sizing: border-box;
}
