.iconname {
  opacity: 0;
  transition: all 0.5s ease;
}

.icon {
  background: #fff;
  transition: all 0.5s ease;
}

.icongroup:hover .iconname {
  opacity: 1;
}

.icongroup:hover .icon {
  background: #6eff89;
}
